* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:focus {
    outline: none;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0099ff;
    font-family: sans-serif;
}
.container {
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}
.container h1 {
    margin: 0;
    text-align: center;
    font-weight: normal;
}
.container p {
    color: #666;
    text-align: center;
    padding: 10px 0;
}
.container form {
    width: 100%;
}
.container form .box {
    width: 100%;
    position: relative;
    margin: 15px 0;
    padding: 10px;
}
.container form .box.error {
    border-left: 3px solid rgb(255, 47, 0);
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 4px;
}
.container form .box.error ion-icon {
    color: rgb(255, 47, 0);
    font-size: 1.8em;
}
.container form .box input {
    display: block;
    width: 100%;
    height: 40px;
    padding-right: 40px;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 8px;
}
.container form .box input:hover {
    box-shadow: 0 0 0 2px #fff,
    0 0 0 4px #0099ff;
}
.container form .box ion-icon {
    display: block;
    position: absolute;
    right: 18px;
    font-size: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    cursor: pointer;
}
.container form .box.btn input {
    background-color: #0099ff;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}
.container form .box.btn input:hover {
    box-shadow: none;
}
.container form .box.link p {
    color: #666;
}
.container form .box.link p a {
    text-decoration: none;
    font-size: 1.23em;
    color: #0099ff;
    cursor: pointer;
}
.container form .box.link p a:hover {
    text-decoration: underline;
}