:root {
    --dark: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:focus {
    outline: none;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    width: 100%;
    min-height: 100vh;
}
.home-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
}
.home-header .container .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.home-header .container .logo a {
    display: block;
    width: fit-content;
    color: var(--dark);
    font-size: 1.8em;
}
.home-header .container nav {
    width: 100%;
}
.home-header .container nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.home-header .container nav ul li {
    width: calc(100% / 5 - 20px);
}
.home-header .container nav ul li a {
    display: block;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: var(--dark);
    position: relative;
    padding: 10px;
    
}
.home-header .container nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 00%;
    height: 2px;
    transition: .3s;
    background-color: var(--dark);
}
.home-header .container nav ul li a:hover::before {
    width: 100%;
}
.home-header .container ion-icon {
    font-size: 1.8em;
}